<div class="container">
    <div class="nav">
       <h2>TheBlackTide</h2>
       <h1>FingerSpellingDetectionUsingAI</h1>
    </div>
    <div class="torso">
       <div class="vid">
          <video class="input_video"></video>
          <canvas class="output_canvas" >
           </canvas>
       </div>
       <div class="legend">
          <div class="output">
             <h3 id="warnings">Output:</h3>
          </div>
          <div class="keys">
             <div class="key1">
                <button class="btn" id="tart">Start</button>
             </div>
             <div class="key2">
                <button id="resetBtn" class="btn">Reset</button>
             </div>
             <div class="key3">
                <button class="btn">Save Output</button>
             </div>
             <div class="key4">
               <input type="file" id="fileInput">
             </div>
          </div>
       </div>
    </div>
    <div class="footer">
       <div class="ui">
<p>This is an app that aims to translate Kenyan sign language.
   it does this by detecting finger spelling.
   Please use Chrome browser. Click start to initialize.
</p>
      </div>
       <div class="team">
 
 <a href="/team">
    <h2 id="comPname">TheBlackTideTeam</h2>
 </a>
       </div>
    </div>
 </div>
</div>
