<div class="container">
    <div class="one">
        <div class="image">
          <img src="./images/gyut.jpg" alt="">
        </div>
      <div class="info">
        <div class="name"><h3>Bonventure Willis</h3>      </div>
        <div class="bio"><h4>Bio: Ethical hacking, web dev, Data science </h4></div>
        <div class="git"><h4><a href="#">GitHub repository</a></h4></div>
        <div class="Linkd"><h4><a href="#">LinkedIn</a></h4></div>
        <div class="ema"><h4><a href="#">Email</a></h4></div>
      </div>
    </div>
    <div class="two">
      <div class="image"></div>
      <div class="info">
        <h3>Bethsua Kerubo</h3>
      </div>
    </div>
    <div class="three">
      <div class="image"></div>
      <div class="info">
        <h3>Joseph Mwaniki</h3>
      </div>
    </div>
    <div class="four">
      <div class="image"></div>
      <div class="info">
        <h3>Kimberly Wairimu</h3>
      </div>
    </div>
    <div class="five">
      <div class="image"></div>
      <div class="info">
        <h3>Martin Ngugi</h3>
      </div>
    </div>
    <div class="six">
      <div class="image"></div>
      <div class="info">
        <h3>Raphael Muthemba</h3>
      </div>
    </div>
  </div>